@import 'sight.scss';
@import 'target.scss';
@import 'playing-field.scss';

.App{
    overflow: hidden;
    background-color: rgb(212, 249, 244);
    height: 100vh;
    position: relative;
    user-select: none;
}
