
.weapon {
    
    &__sight {
        width: 60px;
        height: 60px;
        pointer-events: none;
        z-index: 15;
        animation-timing-function: ease-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    &__type {
        position: absolute;
        bottom: 20px;
        left: 20px;
        z-index: 9;
        height: 70px;
        width: auto;
    }

    &__cartridges{
        position: absolute;
        bottom: 20px;
        right: 20px;
        z-index: 9;
        img{
            height: 30px;
            width: auto;
            padding: 0px 5px;
        }
        
    }
}


@keyframes efficiency {
    0%{
        transform: translate(0, 0px);
    }
    30%{
        transform: translate(0, -15px);
    }
    100%{
        transform: translate(0, 0px);
    }
}